yazi
JetBrains/Rider2023.3
KDE
QtProject
Unknown Organization
akonadi
bilibilivideodownload
cef_user_data
clash
clash_win
dconf
falkon/profiles
fcitx5
gtk-3.0
gtk-4.0
ibus
kde.org
kdeconnect
kdedefaults
khtml
libaccounts-glib
microsoft-edge
obsidian
polybar.bak
pulse
qBittorrent
session
qtvirtualkeyboard/pinyin
smplayer
spotify
swappy
thefuck
unity3d
unityhub
vlc
xsettingsd
Ankirc
PlasmaDiscoverUpdates
QtProject.conf
Trolltech.conf
akonadi-firstrunrc
akonadi-migrationrc
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevil.notifyrc
bluedevilglobalrc
discoverrc
dolphinrc
drkonqirc
emaildefaults
emailidentities
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kdeconnect.apprc
kded5rc
kdeglobals
kdialogrc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kiorc
kioslaverc
kmail2rc
kmailsearchindexingrc
kmixctrlrc
kmixrc
kokorc
konq_history
konquerorrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
kshisenrc
ksmserverrc
ksplashrc
ktimezonedrc
ktorrentrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
okularpartrc
okularrc
phishingurlrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasma.emojierrc
plasmaparc
plasmarc
plasmashellrc
powermanagementprofilesrc
sddmthemeinstallerrc
smplayerrc
specialmailcollectionsrc
spectaclerc
systemmonitorrc
systemsettingsrc
touchpadrc
trashrc
user-dirs.dirs
user-dirs.locale
vlcrc
webengineurlinterceptoradblockrc
yakuakerc
JetBrains/PyCharm2024.1
Code - OSS/Cache/Cache_Data
Code - OSS/CachedData/5c3e652f63e798a5ac2f31ffd0d863669328dc4c
Code - OSS/CachedExtensionVSIXs
Code - OSS
via-nativia
VA_11_Hall_A/saves
nekoray/config
JetBrains/Rider2024.2
LarkShell
QOpenVPN
QQ
StardewValley
bcompare
bluetuith
bottom
bpytop
bytertc
com.yuezk.gpgui
discord
fcitx/dbus
go/telemetry/local
gpgui
libreoffice/4
lx-music-desktop
neovide
nwg-bar
oculante
xmms2
yazi/plugins/yatline.yazi
yazi/plugins/yatline.yazi
yazi/plugins
